html,body{
    width: 1349px;
    height: 100%;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-style: normal;
    color: #C2C2C2;
    position: relative;
}
.aside{
    width: 232px;
    height: 100%;
    position: absolute;
    background-color: rgba(32, 34, 42, 1);
    .title{
        color: #C2C2C2;
        height: 52px;
        line-height: 52px;
        text-align: center;
        span{
            margin: 0 30px 0 10px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
        }
    }
    .menu{
        #accordion{
            .card{ 
                border: none;
                border-radius: 0rem;
                .card-header{
                    border: none;
                    border-radius: 0rem;
                    border-left: 5px solid rgba(32, 34, 42, 1);
                    border-color:rgba(32, 34, 42, 1);
                    border-bottom: 1px solid #ccc;
                    padding: 0;
                    h5{
                        margin-left: 55px;
                        button{
                            font-size: 18px;
                        }
                    }
                }
                .mouseOver{
                    h5{                      
                        button{
                            color: #fff;
                        }
                    }
                    border-color:rgba(95, 184, 120, 1);
                    background-color: rgba(78, 84, 101, 1);
                     
                }
                .card-body{
                    border-bottom: 1px solid rgba(95, 184, 120, 1);
                    padding: 0;
                    // margin-left: 72px;
                    ul{
                        // margin-left: 47px;
                        li{
                            a{
                                color: #C2C2C2;
                                font-size: 14px;
                            }
                            border-left: 5px solid rgba(32, 34, 42, 1);
                            padding-left: 66px;
                            &:hover{
                                color: #fff;
                                cursor: pointer;
                            }
                        }
                        .mouseOver{
                            border-color:rgba(95, 184, 120, 1);
                            background-color: rgba(78, 84, 101, 1);
                             
                        }
                    }
                }
                h5 button{
                    color: #C2C2C2;
                    height: 56px;
                }
                background-color: rgba(32, 34, 42, 1);
            }
        }
    }
}

.main{
    // width: 1208px;
    height: 100%;
    margin-left: 232px;
    .m_head{
        margin-bottom: 50px;
        border-bottom: 1px solid #f2f2f2;
        nav{
            position: relative;
            border-bottom: 2px solid #f1f1f1;
            height: 52px;
            .breadcrumb{
                background-color: #fff;
                li a{
                    font-size: 13px;
                    color: #999999;
                }
                .active a{
                    color: #666666;
                }
                padding-left: 45px;
            }
            .fr{
                top: 50%;
                right: 28px;
                color: #169BD5;
                font-size: 13px;
                position: absolute;
                transform: translateY(-50%);
            }
        }
    }
    .m_body{
        height: 100%;
        border: 22px solid;
        background-color: rgba(242, 242, 242, 1);
        border-image: url(../assets/images/goodslist/border.png);
        .contain{
            height: 100%;
            // min-height: 400px;
            background-color: rgba(255, 255, 255, 1);
            .navbar{
                background-color: #fff !important;
                li.nav-item{
                    width: 86px;
                    height: 38px;
                    margin-right: 20px;
                    text-align: center;
                    .icon {
                        margin-right: 10px;
                        img{
                            display: inline-block;
                        }
                    }
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                        padding: 0px;
                        line-height: 35px;
                        span{
                            vertical-align: middle;
                            font-size: 16px;
                            font-weight: 400;
                            font-style: normal;                           
                        }   
                    }
                }
                li.add{
                    a{
                        .icon img{
                            width: 21px;
                            height: 21px;
                        }
                        span{
                            color: #FFFFFF;
                            // text-align: right;
                        } 
                    }
                    
                    background-image: url(../assets/images/goodslist/add-btn.png); 
                }
                li.delete{
                    a{
                        .icon img{
                            width: 25px;
                            height: 25px;
                        }
                        span{
                            color: #666666;
                            text-align: right;
                        }      
                    }
                    
                    border: 1px solid #ced4da;
                    border-radius: 2px;
                }
                input[type="search"]{
                    width: 307px;
                    height: 38px;
                }
                li.dropdown{
                    width: 169px;
                    height: 38px;
                    border-radius: 0.25rem;
                    border: 1px solid #ced4da;
                    .dropdown-toggle{
                        color: #333;
                        font-size: 14px;
                    }
                    .dropdown-menu{
                        width: 167px;
                        a.dropdown-item{
                            padding-left: 20px;
                        }
                    }
                }
                li.btn{
                    color: #fff;
                    width: 94px;
                    height: 38px;
                    background-image: url(../assets/images/goodslist/seach-bg.png); 
                }
            }
            dl.tables{
                margin-left: 14px;
                float: left;
                dt{
                    ul {

                        li{
                            background-color: #f2f2f2;
                        }
                    }
                }
                dd,dt{
                    float: left;
                    margin-bottom: 0;
                    // display: inline-block;
                    // overflow: hidden;
                    ul {
                        // overflow: hidden;
                        li{
                            border: 1px solid #ccc;
                            float: left;
                        }
                    }
                }
                dd,dt{
                    ul {
                        li{
                            height: 43px;
                           
                            span.item{
                                display: block;
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis
                            }
                            span.tri {
                                top: 4px;
                                display: inline-block;
                                
                                width: 15px;
                                height: 20px;
                                position: relative;
                                i{
                                    position: absolute;
                                    display: inline-block;
                                    width: 15px;
                                    height: 9px;
                                    &:hover{
                                        cursor: pointer;
                                    }
                                }
                            }
                            span.tri i.triangle-up{
                                top: 0;
                            }
                            span.tri i.triangle-drown{
                                bottom: 0;
                                transform: rotateX(180deg);
                            }
                            span.tri i.triangle-up,
                            span.tri i.triangle-drown{
                                background-image: url(../assets/images/goodslist/triangle.png);
                            }
                            span.tri i.mouseOver{
                                background-image: url(../assets/images/goodslist/tri-mouseOver.png);
                            }
                            span{
                                color: #333333;
                            }
                            text-align: center;
                            line-height: 41px;
                        }
                    }
                }
                dd{
                    ul{
                        li.mouseOver{
                            background-color: #f2f2f2;
                        }
                        li.handle{
                            span{ 
                                position: relative;                             
                                img{
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    position: absolute;
                                }
                                margin-right: 8px;
                                margin-bottom: 4px; 
                                vertical-align: bottom;
                                display: inline-block;
                                box-sizing: border-box;
                                width: 36px;
                                height: 30px;
                                border-radius: 2px;
                                border: 1px solid;
                                text-align: center;
                                line-height: 27px;
                            }
                            span.edit{
                                border-color: rgba(255, 255, 255, 1);
                                background-color: rgba(51, 171, 159, 1);
                            }
                            span.delete{
                                border-color:rgba(201, 201, 201, 1);
                                // background-color: rgba(51, 171, 159, 1);
                            }
                            span.out{
                                width: 50px;
                                height: 30px;
                                font-weight: 400;
                                font-style: normal;
                                font-size: 16px;
                                color: #FFFFFF;
                                border-color: rgba(255, 255, 255, 1);
                                background-color: rgba(204, 204, 204, 1);
                            }
                            span.mouseOver{
                                background-color: rgba(255, 120, 78, 0.8);
                                border-color: rgba(255, 120, 78, 1);
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

/*自己定义的模态框*/
.model_bg{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 999;
    display: none;
}
.my_model{
    position: fixed;
    display: none;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // margin-top: -50px;
    // margin-left: -200px;
    z-index: 9999;
    width: 275px;
    height: 157px;
    border: 1px solid rgba(226, 226, 226, 1);
    border-radius: 2px;
    // padding: 20px;
    background: #fff;
}
.my_model .title{
    height: 44px;
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 700;
    // margin-bottom: 20px;
    border-bottom: 1px solid rgba(226, 226, 226, 1);
    background-color: rgba(248, 248, 248, 1);
}
.my_model .title .txt,
.my_model .tip-txt{
    margin-left: 20px;
    color: #333;
    margin-bottom: 0;
}
.my_model .title .closeModel{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.my_model p{
    line-height:44px;
}

.my_model .opBtn{
    margin-left: 23px;
}
.my_model .opBtn a{
    
    width: 58px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
}
.my_model .dialog-sure{
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
}

.my_model .dialog-close{
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #3c3c3c;
}
