
.main{
    // width: 1208px;
    // height: 1035px;
    // margin-left: 232px;
    // background-color: rgba(242, 242, 242, 1);
    // background-color: pink;
    
    .m_body{
        .contain{
            // height: 100%;
            // background-color: rgba(255, 255, 255, 1);
            
            dl.tables{
                // dt{
                //     background-color: #f2f2f2;
                // }
                // dd,dt{
                //     overflow: hidden;
                //     ul li{
                //         border: 1px solid #ccc;
                //         float: left;
                //     }
                // }
                dd,dt{
                    ul {
                        // li{
                            // span.tri {
                            //     top: 4px;
                            //     display: inline-block;
                            //     width: 15px;
                            //     height: 20px;
                            //     position: relative;
                            //     i{
                            //         position: absolute;
                            //         display: inline-block;
                            //         width: 15px;
                            //         height: 9px;
                            //         &:hover{
                            //             cursor: pointer;
                            //         }
                            //     }
                            // }
                            // span.tri i.triangle-up{
                            //     top: 0;
                            // }
                            // span.tri i.triangle-drown{
                            //     bottom: 0;
                            //     transform: rotateX(180deg);
                            // }
                            // span.tri i.triangle-up,
                            // span.tri i.triangle-drown{
                            //     background-image: url(../assets/images/goodslist/triangle.png);
                            // }
                            // span.tri i.mouseOver{
                            //     background-image: url(../assets/images/goodslist/tri-mouseOver.png);
                            // }
                            // span{
                            //     color: #333333;
                            // }
                        //     text-align: center;
                        //     line-height: 41px;
                        // }
                        li.check{
                            width: 52px;
                        }
                        li.gid{
                            width: 40px;
                        }
                        li.name{
                            width: 93px;
                        }
                        li.classify{
                            width: 108px;
                        }
                        li.original{
                            width: 105px;
                            
                        }
                        li.present{
                            width: 105px;
                        }
                        li.stock{
                            width: 105px;
                        }
                        li.status{
                            width: 105px;
                        }
                        li.time{
                            width: 155px;
                        }
                        li.handle{
                            width: 175px;
                        }
                    }
                }
                dd{
                    ul{
                        // li.mouseOver{
                        //     background-color: #f2f2f2;
                        // }
                        li.handle{
                            // span{ 
                            //     position: relative;                             
                            //     img{
                            //         display: block;
                            //         width: 20px;
                            //         height: 20px;
                            //         top: 50%;
                            //         left: 50%;
                            //         transform: translate(-50%,-50%);
                            //         position: absolute;
                            //     }
                            //     margin-right: 8px;
                            //     margin-bottom: 4px; 
                            //     vertical-align: bottom;
                            //     display: inline-block;
                            //     box-sizing: border-box;
                            //     width: 36px;
                            //     height: 30px;
                            //     border-radius: 2px;
                            //     border: 1px solid;
                            //     text-align: center;
                            //     line-height: 27px;
                            // }
                            // span.edit{
                            //     border-color: rgba(255, 255, 255, 1);
                            //     background-color: rgba(51, 171, 159, 1);
                            // }
                            // span.delete{
                            //     border-color:rgba(201, 201, 201, 1);
                            //     // background-color: rgba(51, 171, 159, 1);
                            // }
                            // span.out{
                            //     width: 50px;
                            //     height: 30px;
                            //     font-weight: 400;
                            //     font-style: normal;
                            //     font-size: 16px;
                            //     color: #FFFFFF;
                            //     border-color: rgba(255, 255, 255, 1);
                            //     background-color: rgba(204, 204, 204, 1);
                            // }
                            // span.mouseOver{
                            //     background-color: rgba(255, 120, 78, 0.8);
                            //     border-color: rgba(255, 120, 78, 1);
                            // }
                        }
                        
                    }
                }
            }
            div.pageWrape{
                margin: 40px 40px 0 0;
                overflow: hidden;
                span.p-amount{
                    line-height: 30px;
                }
                ul.pagination{
                    float: left;
                    li{
                        float: left;
                        width: 37px;
                        height: 30px;
                        text-align: center;
                        border: 1px solid rgba(226, 226, 226, 1);
                        border-right: none;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: #333333;
                            line-height: 28px;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                    li.pre,li.next{
                        width: 68px;
                        height: 30px;
                    }
                    li:last-child{
                        border-right: 1px solid rgba(226, 226, 226, 1);
                    }
                    li.disabled{
                        a{
                            color: #D7D7D7;                           
                        }
                    }
                    li.active{
                        background-color: rgba(0, 150, 136, 1);
                        a{
                            color: #fff;                          
                        }     
                    }
                    li.omit{
                       width: 40px;
                    }
                }
                div.p-option{
                    select{
                        margin-left: 10px;
                        height: 30px;
                    }
                }
                div.p-skip{
                    margin: 0 10px;
                    line-height: 30px;
                    input[type="text"]{
                        vertical-align:top;
                        width: 41px;
                        height: 30px;
                        margin: 0 10px;
                        text-align: center;
                        border: 1px solid rgba(226, 226, 226, 1);
                    }
                    button.confirm{
                        font-size: 12px;
                        margin-left: 10px;
                        vertical-align:top;
                        width: 48px;
                        height: 30px;                       
                        background-color:#fff; 
                        border: 1px solid rgba(226, 226, 226, 1);
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}