@charset "UTF-8";
html, body { width: 1349px; height: 100%; font-family: '微软雅黑 Bold', '微软雅黑'; font-style: normal; color: #C2C2C2; position: relative; }

.aside { width: 232px; height: 100%; position: absolute; background-color: #20222a; }
.aside .title { color: #C2C2C2; height: 52px; line-height: 52px; text-align: center; }
.aside .title span { margin: 0 30px 0 10px; font-weight: 700; font-size: 16px; text-align: center; }
.aside .menu #accordion .card { border: none; border-radius: 0rem; background-color: #20222a; }
.aside .menu #accordion .card .card-header { border: none; border-radius: 0rem; border-left: 5px solid #20222a; border-color: #20222a; border-bottom: 1px solid #ccc; padding: 0; }
.aside .menu #accordion .card .card-header h5 { margin-left: 55px; }
.aside .menu #accordion .card .card-header h5 button { font-size: 18px; }
.aside .menu #accordion .card .mouseOver { border-color: #5fb878; background-color: #4e5465; }
.aside .menu #accordion .card .mouseOver h5 button { color: #fff; }
.aside .menu #accordion .card .card-body { border-bottom: 1px solid #5fb878; padding: 0; }
.aside .menu #accordion .card .card-body ul li { border-left: 5px solid #20222a; padding-left: 66px; }
.aside .menu #accordion .card .card-body ul li a { color: #C2C2C2; font-size: 14px; }
.aside .menu #accordion .card .card-body ul li:hover { color: #fff; cursor: pointer; }
.aside .menu #accordion .card .card-body ul .mouseOver { border-color: #5fb878; background-color: #4e5465; }
.aside .menu #accordion .card h5 button { color: #C2C2C2; height: 56px; }

.main { height: 100%; margin-left: 232px; }
.main .m_head { margin-bottom: 50px; border-bottom: 1px solid #f2f2f2; }
.main .m_head nav { position: relative; border-bottom: 2px solid #f1f1f1; height: 52px; }
.main .m_head nav .breadcrumb { background-color: #fff; padding-left: 45px; }
.main .m_head nav .breadcrumb li a { font-size: 13px; color: #999999; }
.main .m_head nav .breadcrumb .active a { color: #666666; }
.main .m_head nav .fr { top: 50%; right: 28px; color: #169BD5; font-size: 13px; position: absolute; transform: translateY(-50%); }
.main .m_body { height: 100%; border: 22px solid; background-color: #f2f2f2; border-image: url(../assets/images/goodslist/border.png); }
.main .m_body .contain { height: 100%; background-color: white; }
.main .m_body .contain .navbar { background-color: #fff !important; }
.main .m_body .contain .navbar li.nav-item { width: 86px; height: 38px; margin-right: 20px; text-align: center; }
.main .m_body .contain .navbar li.nav-item .icon { margin-right: 10px; }
.main .m_body .contain .navbar li.nav-item .icon img { display: inline-block; }
.main .m_body .contain .navbar li.nav-item a { display: block; height: 100%; width: 100%; padding: 0px; line-height: 35px; }
.main .m_body .contain .navbar li.nav-item a span { vertical-align: middle; font-size: 16px; font-weight: 400; font-style: normal; }
.main .m_body .contain .navbar li.add { background-image: url(../assets/images/goodslist/add-btn.png); }
.main .m_body .contain .navbar li.add a .icon img { width: 21px; height: 21px; }
.main .m_body .contain .navbar li.add a span { color: #FFFFFF; }
.main .m_body .contain .navbar li.delete { border: 1px solid #ced4da; border-radius: 2px; }
.main .m_body .contain .navbar li.delete a .icon img { width: 25px; height: 25px; }
.main .m_body .contain .navbar li.delete a span { color: #666666; text-align: right; }
.main .m_body .contain .navbar input[type="search"] { width: 307px; height: 38px; }
.main .m_body .contain .navbar li.dropdown { width: 169px; height: 38px; border-radius: 0.25rem; border: 1px solid #ced4da; }
.main .m_body .contain .navbar li.dropdown .dropdown-toggle { color: #333; font-size: 14px; }
.main .m_body .contain .navbar li.dropdown .dropdown-menu { width: 167px; }
.main .m_body .contain .navbar li.dropdown .dropdown-menu a.dropdown-item { padding-left: 20px; }
.main .m_body .contain .navbar li.btn { color: #fff; width: 94px; height: 38px; background-image: url(../assets/images/goodslist/seach-bg.png); }
.main .m_body .contain dl.tables { margin-left: 14px; float: left; }
.main .m_body .contain dl.tables dt ul li { background-color: #f2f2f2; }
.main .m_body .contain dl.tables dd, .main .m_body .contain dl.tables dt { float: left; margin-bottom: 0; }
.main .m_body .contain dl.tables dd ul li, .main .m_body .contain dl.tables dt ul li { border: 1px solid #ccc; float: left; }
.main .m_body .contain dl.tables dd ul li, .main .m_body .contain dl.tables dt ul li { height: 43px; text-align: center; line-height: 41px; }
.main .m_body .contain dl.tables dd ul li span.item, .main .m_body .contain dl.tables dt ul li span.item { display: block; width: 100%; height: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.main .m_body .contain dl.tables dd ul li span.tri, .main .m_body .contain dl.tables dt ul li span.tri { top: 4px; display: inline-block; width: 15px; height: 20px; position: relative; }
.main .m_body .contain dl.tables dd ul li span.tri i, .main .m_body .contain dl.tables dt ul li span.tri i { position: absolute; display: inline-block; width: 15px; height: 9px; }
.main .m_body .contain dl.tables dd ul li span.tri i:hover, .main .m_body .contain dl.tables dt ul li span.tri i:hover { cursor: pointer; }
.main .m_body .contain dl.tables dd ul li span.tri i.triangle-up, .main .m_body .contain dl.tables dt ul li span.tri i.triangle-up { top: 0; }
.main .m_body .contain dl.tables dd ul li span.tri i.triangle-drown, .main .m_body .contain dl.tables dt ul li span.tri i.triangle-drown { bottom: 0; transform: rotateX(180deg); }
.main .m_body .contain dl.tables dd ul li span.tri i.triangle-up, .main .m_body .contain dl.tables dd ul li span.tri i.triangle-drown, .main .m_body .contain dl.tables dt ul li span.tri i.triangle-up, .main .m_body .contain dl.tables dt ul li span.tri i.triangle-drown { background-image: url(../assets/images/goodslist/triangle.png); }
.main .m_body .contain dl.tables dd ul li span.tri i.mouseOver, .main .m_body .contain dl.tables dt ul li span.tri i.mouseOver { background-image: url(../assets/images/goodslist/tri-mouseOver.png); }
.main .m_body .contain dl.tables dd ul li span, .main .m_body .contain dl.tables dt ul li span { color: #333333; }
.main .m_body .contain dl.tables dd ul li.mouseOver { background-color: #f2f2f2; }
.main .m_body .contain dl.tables dd ul li.handle span { position: relative; margin-right: 8px; margin-bottom: 4px; vertical-align: bottom; display: inline-block; box-sizing: border-box; width: 36px; height: 30px; border-radius: 2px; border: 1px solid; text-align: center; line-height: 27px; }
.main .m_body .contain dl.tables dd ul li.handle span img { display: block; width: 20px; height: 20px; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; }
.main .m_body .contain dl.tables dd ul li.handle span.edit { border-color: white; background-color: #33ab9f; }
.main .m_body .contain dl.tables dd ul li.handle span.delete { border-color: #c9c9c9; }
.main .m_body .contain dl.tables dd ul li.handle span.out { width: 50px; height: 30px; font-weight: 400; font-style: normal; font-size: 16px; color: #FFFFFF; border-color: white; background-color: #cccccc; }
.main .m_body .contain dl.tables dd ul li.handle span.mouseOver { background-color: rgba(255, 120, 78, 0.8); border-color: #ff784e; }

/*自己定义的模态框*/
.model_bg { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.6); z-index: 999; display: none; }

.my_model { position: fixed; display: none; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; width: 275px; height: 157px; border: 1px solid #e2e2e2; border-radius: 2px; background: #fff; }

.my_model .title { height: 44px; font-size: 14px; color: #3c3c3c; font-weight: 700; border-bottom: 1px solid #e2e2e2; background-color: #f8f8f8; }

.my_model .title .txt, .my_model .tip-txt { margin-left: 20px; color: #333; margin-bottom: 0; }

.my_model .title .closeModel { float: right; margin-right: 20px; cursor: pointer; }

.my_model p { line-height: 44px; }

.my_model .opBtn { margin-left: 23px; }

.my_model .opBtn a { width: 58px; height: 28px; line-height: 28px; text-align: center; -webkit-border-radius: 1px; -moz-border-radius: 1px; -ms-border-radius: 1px; border-radius: 1px; display: inline-block; margin-right: 10px; font-weight: 700; }

.my_model .dialog-sure { background: #52a0e5; color: #fff; border: 1px solid #52a0e5; }

.my_model .dialog-close { background: #fff; border: 1px solid #d9d9d9; color: #3c3c3c; }

/*# sourceMappingURL=common.css.map */
