.main .m_body .contain dl.tables dd ul li.check, .main .m_body .contain dl.tables dt ul li.check { width: 52px; }
.main .m_body .contain dl.tables dd ul li.gid, .main .m_body .contain dl.tables dt ul li.gid { width: 40px; }
.main .m_body .contain dl.tables dd ul li.name, .main .m_body .contain dl.tables dt ul li.name { width: 93px; }
.main .m_body .contain dl.tables dd ul li.classify, .main .m_body .contain dl.tables dt ul li.classify { width: 108px; }
.main .m_body .contain dl.tables dd ul li.original, .main .m_body .contain dl.tables dt ul li.original { width: 105px; }
.main .m_body .contain dl.tables dd ul li.present, .main .m_body .contain dl.tables dt ul li.present { width: 105px; }
.main .m_body .contain dl.tables dd ul li.stock, .main .m_body .contain dl.tables dt ul li.stock { width: 105px; }
.main .m_body .contain dl.tables dd ul li.status, .main .m_body .contain dl.tables dt ul li.status { width: 105px; }
.main .m_body .contain dl.tables dd ul li.time, .main .m_body .contain dl.tables dt ul li.time { width: 155px; }
.main .m_body .contain dl.tables dd ul li.handle, .main .m_body .contain dl.tables dt ul li.handle { width: 175px; }
.main .m_body .contain div.pageWrape { margin: 40px 40px 0 0; overflow: hidden; }
.main .m_body .contain div.pageWrape span.p-amount { line-height: 30px; }
.main .m_body .contain div.pageWrape ul.pagination { float: left; }
.main .m_body .contain div.pageWrape ul.pagination li { float: left; width: 37px; height: 30px; text-align: center; border: 1px solid #e2e2e2; border-right: none; }
.main .m_body .contain div.pageWrape ul.pagination li a { display: block; width: 100%; height: 100%; color: #333333; line-height: 28px; }
.main .m_body .contain div.pageWrape ul.pagination li a:hover { text-decoration: none; }
.main .m_body .contain div.pageWrape ul.pagination li.pre, .main .m_body .contain div.pageWrape ul.pagination li.next { width: 68px; height: 30px; }
.main .m_body .contain div.pageWrape ul.pagination li:last-child { border-right: 1px solid #e2e2e2; }
.main .m_body .contain div.pageWrape ul.pagination li.disabled a { color: #D7D7D7; }
.main .m_body .contain div.pageWrape ul.pagination li.active { background-color: #009688; }
.main .m_body .contain div.pageWrape ul.pagination li.active a { color: #fff; }
.main .m_body .contain div.pageWrape ul.pagination li.omit { width: 40px; }
.main .m_body .contain div.pageWrape div.p-option select { margin-left: 10px; height: 30px; }
.main .m_body .contain div.pageWrape div.p-skip { margin: 0 10px; line-height: 30px; }
.main .m_body .contain div.pageWrape div.p-skip input[type="text"] { vertical-align: top; width: 41px; height: 30px; margin: 0 10px; text-align: center; border: 1px solid #e2e2e2; }
.main .m_body .contain div.pageWrape div.p-skip button.confirm { font-size: 12px; margin-left: 10px; vertical-align: top; width: 48px; height: 30px; background-color: #fff; border: 1px solid #e2e2e2; }
.main .m_body .contain div.pageWrape div.p-skip button.confirm:hover { cursor: pointer; }

/*# sourceMappingURL=goodslist.css.map */
